@page
@model GlucoSmart.Pages.Entries.Exercise.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ExerciseEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExerciseEntry.Id" />
            <div class="form-group">
                <label asp-for="ExerciseEntry.Minutes" class="control-label"></label>
                <input asp-for="ExerciseEntry.Minutes" class="form-control" />
                <span asp-validation-for="ExerciseEntry.Minutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExerciseEntry.Exercise" class="control-label"></label>
                <select asp-for="ExerciseEntry.Exercise" class="form-control"></select>
                <span asp-validation-for="ExerciseEntry.Exercise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExerciseEntry.Intensity" class="control-label"></label>
                <select asp-for="ExerciseEntry.Intensity" class="form-control"></select>
                <span asp-validation-for="ExerciseEntry.Intensity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExerciseEntry.Date" class="control-label"></label>
                <input asp-for="ExerciseEntry.Date" class="form-control" />
                <span asp-validation-for="ExerciseEntry.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
