@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You will be automatically redirected to the home page in 5 seconds.</p>
    <script>
        var timer = setTimeout(function () {
            window.location = '/Index'
        }, 5000);
    </script>

</header>