@page
@model GlucoSmart.Pages.Patients.IndexModel
@inject UserManager<GlucoSmart.Models.ApplicationUser> UserManager
@{
    ViewData["Title"] = "Patients";
}

<h1>Patients</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="Patients[0].FirstName"></label>
            </th>
            <th>
                <label asp-for="Patients[0].LastName"></label>
            </th>
            <th>
                <label asp-for="Patients[0].DOB"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (GlucoSmart.Models.ApplicationUser item in Model.Patients)
        {
            @if (item.DoctorID.Equals(Model.CurrentUser.DoctorID))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @item.DOB.ToShortDateString()
                    </td>
                    <td>
                        <a href="/Entries/Glucose/Index?username=@item.UserName">Glucose</a> |
                        <a href="/Entries/Exercise/Index?username=@item.UserName">Exercise</a>
                    </td>

                </tr>
             }
         }
    </tbody>
</table>
