@page
@model GlucoSmart.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>

<p>GlucoSmart allows a patient and doctor to communicate about diabetes management. This includes allowing the patient to enter the food they've eaten and track their activity. Doctors will be able to manage multiple patients at once while patientswill be able to see previous added data in graphical form. If you have any questions please don't hesitate to contact us using the <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Contact</a> page.</p>
