@page
@model GlucoSmart.Pages.ChartModel
@{
    ViewData["Title"] = "[name]";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>[name]</h1>
<h2>[date range]</h2>
<br><br>


<h3>[chart goes here]</h3>
<canvas id="lineChart"></canvas>

<script type="text/javascript">
    //line
    var ctxL = document.getElementById("lineChart").getContext('2d');
    var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: "Chart",
                data: [65, 59, 80, 81, 56, 55, 40],
                backgroundColor: ['rgba(105, 0, 132, .2)',],
                borderColor: ['rgba(200, 99, 132, .7)',],
                borderWidth: 2
            },]
        },
        options: {responsive: true}

    });
</script>

