@page
@model GlucoSmart.ContactModel
@{
    ViewData["Title"] = "Contact";
}

    <div style="width: 100%; position: relative; top: 150px; bottom: 100px">
        <table>
            <tr>
                <td style="width: 40%;min-width: 200px; text-align: right; padding-right: 10px"><img id="etsuLogo" src="images/etsu_shield_logo.png" alt="ETSU Shield" width="200px"></td>

                <td style="vertical-align: middle; text-align: left">
                    <h2 style="color:black">
                        Questions or concerns?
                    </h2>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Product Owner
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <a href="mailto:stewartcj@etsu.edu">Corey Stewart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Scrum Master
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <a href="mailto:merriken@etsu.edu">Dakota Merriken</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Development Team
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <a href="mailto:quesenberry@etsu.edu">Sarah Quesenberry</a><br />
                                        <a href="mailto:mcneesekj@etsu.edu">Kenneth McNeese</a><br />
                                        <a href="mailto:pateld2@etsu.edu">Dylan Patel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </td>
            </tr>
        </table>
    </div>
